.book-list-item {
  margin: 15px 0;
  display: flex;
}
.book-list-item .book-cover {
  width: 140px;
  margin-right: 30px;
  flex-shrink: 0;
}
.book-list-item .book-cover img {
  max-width: 100%;
}
.book-list-item .book-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  padding-bottom: 10px;
}
.book-list-item .book-details .book-title {
  font-size: 1.2rem;
}
.book-list-item .book-details .book-price {
  font-size: 1.4rem;
}
