.shopping-cart-table {
  margin-top: 45px;
}
.shopping-cart-table .total {
  margin-right: 10px;

  font-size: 1.3rem;
  text-align: right;
}
.shopping-cart-table button {
  margin-top: 5px;
  margin-left: 5px;
}

