.shop-header {
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #e5e5e5;
}
.shop-header .logo {
  padding-left: 1rem;
  font-family: "Playfair Display", Georgia, serif;
  font-size: 2.5rem;
}
.shop-header .shopping-cart {
  padding-right: 1rem;
  font-size: 1.3rem;
  align-self: center;
}
.shop-header .shopping-cart .cart-icon {
  margin-right: 10px;
  font-size: 2.2rem;
  color: cadetblue;
}
